@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Combo&family=Dancing+Script&family=Kalam:wght@700&family=Open+Sans:wght@300&family=Pacifico&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Combo&family=Dancing+Script&family=Kalam:wght@700&family=Pacifico&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Combo&family=Dancing+Script&family=Kalam:wght@700&family=Ms+Madi&family=Open+Sans:wght@300&family=Pacifico&family=Roboto+Condensed:wght@300&display=swap');



.imgdiv {
    height: 400px;
    width: 400px;
    background-color: #F2EDDF;
    background-image: url('./img/IMG-0666-Original.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.name {
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.navdiv {
    height: 150px;
    background-color: #EFEEED;
}

.bodydiv {
    height: auto;
}

.resumecircle {
    height: 200px;
    width: 200px;
    background-color:grey;
    padding: 5%;
    color: white;
}

.resumecircle:hover {
    background-color: #9b9997;
}

.workcircle {
    height: 200px;
    width: 200px;
    background-color:grey;
    padding: 5%;
    color: white;
}

.workcircle:hover {
    background-color: grey
}

.skillcircle {
    height: 200px;
    width: 200px;
    background-color:grey;
    padding: 5%;
    color: white;
}

.skillcircle:hover {
    background-color: grey
}

.footerdiv {
    height: auto;
    background-color: #EFEEED;
    color: grey;
    width: 100%;
}

.icondiv {
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: rgb(9, 10, 10);
    color: white;
}

.navitem {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
}

.navitem:active {
    color: #0795f4;
    text-decoration: underline #0795f4;
}

.navitem:hover {
    color: #49A2DE
}

.small {
    font-size: 12px;
    font-weight: 500;
}

.button {
    color: white;
    border: none;
    background-color:grey;
}

.resume {
    color: white;
    border: none;
    background-color:grey;

}

.button:hover {
    background-color: #9b9997;
}

.skills {
    background-color:grey;
    color: white;
    border: none;
}

.skills:hover {
    background-color: #9b9997;
}

.linkdn {
    color: white;
    text-decoration: none;
}

.linkdn:hover {
    color: #49A2DE;
}

.drpdwndiv {
    background-color: #49A2DE;
    padding: 5px;
    margin-top: 5%;
}

.subheadings {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4d4d4d;
}

.infopara {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4d4d4d;

}

.infoparalink {
    text-decoration: none;
    color: #0795f4;
}

.infoparalink:hover {
    text-decoration: underline #49A2DE;
}

.cardlink{
    color: #0795f4;
    text-decoration: underline #49A2DE;
}
.transition{
    color: #4d4d4d;
    background-color: rgb(220, 219, 217);
   
}
